{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'dashboard.css' %}">
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
<script src="{% static 'jquery-3.4.1.min.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        console.log("doc ready");
        var SensorSocket = new WebSocket(
            'ws://' + window.location.host +
            '/ws/sensor/');

        SensorSocket.onmessage = function (e) {
            let data = JSON.parse(e.data);
            console.log(data);
            $('#sensor_0_value').text(data['1']);
            $('#sensor_1_value').text(data['2']);
            $('#sensor_2_value').text(data['3']);
            $('#sensor_3_value').text(data['4']);
            $('#sensor_4_value').text(data['5']);
            $('#sensor_5_value').text(data['6']);
            $('#sensor_6_value').text(data['7']);
            $('#sensor_7_value').text(data['8']);
            $('#sensor_8_value').text(data['9']);
            $('#sensor_9_value').text(data['10']);
            $('#sensor_10_value').text((parseInt(data['11'])) ? 'ON' : 'OFF');
            $('#sensor_11_value').text(data['12']);
        };

        SensorSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };

        function updateValues() {
            console.log("Updating values");
            SensorSocket.send("update");
        }

        setInterval(updateValues, 1000);
    });
</script>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HU-3 Dashboard</title>
</head>
<body>

<div class="dashboard">
    <h1>HU-3 DASHBOARD</h1>
    <table>
        <tr>
            <td>
                <div class="sensor_name"><a href="1">
                    {{ sensor_list.0.name|default_if_none:'Sensor 1' }}
                </a>
                </div>
                <div class="sensor_value" id="sensor_0_value">
                    {{ sensor_list.0.value|default_if_none:'N/A' }}{% if sensor_list.0.value != None %}
                        {{ sensor_list.0.unit }}{% endif %}
                </div>
            </td>
            <td>
                <div class="sensor_name"><a href="2">
                    {{ sensor_list.1.name|default_if_none:'Sensor 2' }}
                </a></div>
                <div class="sensor_value" id="sensor_1_value">
                    {{ sensor_list.1.value|default_if_none:'N/A' }}{% if sensor_list.1.value != None %}
                        {{ sensor_list.1.unit }}{% endif %}
                </div>
            </td>
            <td>
                <div class="sensor_name"><a href="3">
                    {{ sensor_list.2.name|default_if_none:'Sensor 3' }}
                </a></div>
                <div class="sensor_value" id="sensor_2_value">
                    {{ sensor_list.2.value|default_if_none:'N/A' }}{% if sensor_list.2.value != None %}
                        {{ sensor_list.2.unit }}{% endif %}
                </div>
            </td>
            <td>
                <div class="sensor_name"><a href="4">
                    {{ sensor_list.3.name|default_if_none:'Sensor 4' }}
                </a></div>
                <div class="sensor_value" id="sensor_3_value">
                    {{ sensor_list.3.value|default_if_none:'N/A' }}{% if sensor_list.3.value != None %}
                        {{ sensor_list.3.unit }}{% endif %}
                </div>
            </td>
            <td>
                <div class="sensor_name"><a href="5">
                    {{ sensor_list.4.name|default_if_none:'Sensor 5' }}
                </a></div>
                <div class="sensor_value" id="sensor_4_value">
                    {{ sensor_list.4.value|default_if_none:'N/A' }}{% if sensor_list.4.value != None %}
                        {{ sensor_list.4.unit }}{% endif %}
                </div>
            </td>
            <td>
                <div class="sensor_name"><a href="6">
                    {{ sensor_list.5.name|default_if_none:'Sensor 6' }}
                </a></div>
                <div class="sensor_value" id="sensor_5_value">
                    {{ sensor_list.5.value|default_if_none:'N/A' }}{% if sensor_list.5.value != None %}
                        {{ sensor_list.5.unit }}{% endif %}
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="sensor_name"><a href="7">
                    {{ sensor_list.6.name|default_if_none:'Sensor 7' }}
                </a></div>
                <div class="sensor_value" id="sensor_6_value">
                    {{ sensor_list.6.value|default_if_none:'N/A' }}{% if sensor_list.6.value != None %}
                        {{ sensor_list.6.unit }}{% endif %}
                </div>
            </td>
            <td>
                <div class="sensor_name"><a href="8">
                    {{ sensor_list.7.name|default_if_none:'Sensor 8' }}
                </a></div>
                <div class="sensor_value" id="sensor_7_value">
                    {{ sensor_list.7.value|default_if_none:'N/A' }}{% if sensor_list.7.value != None %}
                        {{ sensor_list.7.unit }}{% endif %}
                </div>
            </td>
            <td>
                <div class="sensor_name"><a href="9">
                    {{ sensor_list.8.name|default_if_none:'Sensor 9' }}
                </a></div>
                <div class="sensor_value" id="sensor_8_value">
                    {{ sensor_list.8.value|default_if_none:'N/A' }}{% if sensor_list.8.value != None %}
                        {{ sensor_list.8.unit }}{% endif %}
                </div>
            </td>
            <td>
                <div class="sensor_name"><a href="10">
                    {{ sensor_list.9.name|default_if_none:'Sensor 10' }}
                </a></div>
                <div class="sensor_value" id="sensor_9_value">
                    {{ sensor_list.9.value|default_if_none:'N/A' }}{% if sensor_list.9.value != None %}
                        {{ sensor_list.9.unit }}{% endif %}
                </div>
            </td>
            <td>
                <div class="sensor_name"><a href="11">
                    {{ sensor_list.10.name|default_if_none:'Sensor 11' }}
                </a></div>
                <div class="sensor_value" id="sensor_10_value">
                    {{ sensor_list.10.value|default_if_none:'N/A' }}{% if sensor_list.10.value != None %}
                        {{ sensor_list.10.unit }}{% endif %}
                </div>
            </td>
            <td>
                <div class="sensor_name"><a href="12">
                    {{ sensor_list.11.name|default_if_none:'Sensor 12' }}
                </a></div>
                <div class="sensor_value" id="sensor_11_value">
                    {{ sensor_list.11.value|default_if_none:'N/A' }}{% if sensor_list.11.value != None %}
                        {{ sensor_list.11.unit }}{% endif %}
                </div>
            </td>
        </tr>
    </table>
</div>
</body>
</html>