{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'sensor.css' %}">
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ sensor.name }}</title>
</head>
<body>
<div>
    <h1>{{ sensor.name }}</h1>
    <h2>{{ sensor.description }}</h2>
    <table>
        <tr>
            <th>Timestamp</th>
            <th>Value</th>
        </tr>
        {% for measurement in latest_measurements %}
            <tr>
                <td>{{ measurement.measure_time|date:'Y-m-d H:i:s.u' }}</td>
                <td>{{ measurement.value }}{{ sensor.unit }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>